{% extends 'base.html.twig' %}

{% block title %}Blog post - {{ blog_post.name }} | Symfony test blog{% endblock %}

{% block body %}
    <h1>Blog post - {{ blog_post.name }}</h1>
    <dl class="row">
        <dt class="col-sm-3">Id</dt>
        <dd class="col-sm-9">{{ blog_post.id }}</dd>
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">{{ blog_post.name }}</dd>
        <dt class="col-sm-3">Content</dt>
        <dd class="col-sm-9">{{ blog_post.content }}</dd>
        <dt class="col-sm-3">File</dt>
        <dd class="col-sm-9">
            {% if blog_post.file %}
                <a href="{{ asset('uploads/blog/post/' ~ blog_post.file) }}" target="_blank">View</a>
            {% else %}
                File not added.
            {% endif %}
        </dd>
    </dl>
    <div class="row">
        <div class="col-4 offset-8">
            {% if blog_post.category.id %}
                <a href="{{ path('blog_category_show', {"id": blog_post.category.id}) }}" class="btn btn-info">Back to category</a>
            {% else %}
                <a href="{{ path('blog_post_index') }}" class="btn btn-info">Back to list</a>
            {% endif %}
            <a href="{{ path('blog_post_edit', {'id': blog_post.id}) }}" class="btn btn-warning">Edit</a>
            {{ include('blog_post/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
