<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('index') }}">Symfony test blog</a>
        </div>
    </nav>
</header>
<main role="main" class="flex-shrink-0">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main><!-- /.container -->
<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ render(controller(
                    'App\\Controller\\HomeController::browserStatistic'
                )) }}
            </div>
            <div class="col-12 text-right">
                <span class="text-muted">Developed by Spell6inder</span>
            </div>
        </div>

    </div>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
