<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('index') }}">Symfony test blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="header-navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog_category_index') }}">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="flex-shrink-0 mb-3">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main><!-- /.container -->
<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ render(controller(
                    'App\\Controller\\HomeController::browserStatistic'
                )) }}
            </div>
            <div class="col-12 text-right">
                <span class="text-muted">Developed by Spell6inder</span>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
